@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background-color: #F1F5F9;
    color: #111827;
  }
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: #E2E8F0;
}

::-webkit-scrollbar-thumb {
  background: #94A3B8;
  border-radius: 9999px;
}

::-webkit-scrollbar-thumb:hover {
  background: #64748B;
}
